# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
ENV/

# Poetry
poetry.lock

# Dotenv
.env
.env.*
!.env.vault

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints
